 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,body{
background-color: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
}


#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    height: 100px;
    width: 100%;
    background-color: rgba(255, 145, 0, 0);
}


.logo{

    height: 60px;

}


.name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    transition-duration: 0.6s;
}


.name:hover{
    transform: scale(1.1);
    cursor: pointer;
}


#logoname{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 200px;
    
}


#getstarted{
    height: 50%;
    width: 180px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-radius: 140px;
    border: none;
    color: aliceblue;
    background-color: rgb(36, 35, 35);
    transition-duration: 0.6s;
}


#getstarted:hover{
    transform: scale(1.1);
    background-color: rgb(236, 80, 2);
    cursor: pointer;
}


#menubar{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0);
    gap: 50px;
    width: 450px;
    height: 23px;

}


.menuopt{
    height: 30px;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    transition-duration: 0.3s;
}


.menuopt:hover{
    transform: scale(1.1);
    color: rgb(236, 80, 2);
    cursor: pointer;
}


#heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
}


.H{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    height: 100px;
    width: 800px;
    word-spacing: 25px;
    font-weight: bolder;
}


#options{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    gap: 20px;
}


.opt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color:#181818;
    border-radius: 100px; 
    transition-duration: 0.3s;
}


.opt1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 120px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color:#181818;
    border-radius: 100px; 
    transition-duration: 0.3s;
}


.opt:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(236, 80, 2);
}


.opt1:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: rgb(236, 80, 2);
}


#mainbody{
    margin-top: 10PX;
    display: flex;
    justify-content: center;
    gap: 50px;
    height: 500px;
    width: 100%;
    background-color: rgba(205, 0, 0, 0);
}


.card{
    height:80%;
    width: 300px;
    justify-content: center;
    background-color: rgb(32, 30, 30);
    border-radius: 25PX;
    transition-duration: 0.6s;
}


.card:hover{
    transform: scale(1.1);
    box-shadow: 0 0 25px 8px rgba(228, 80, 0, 0.725);
    cursor: pointer;
}


#img1{
    height: 60%;
    width: 100%;
    background-image:url(./glass.png);
    background-size:  cover;
    background-repeat: no-repeat;
    background-position-x: -15px;
    border-radius: 25px;
}


.content1{
    margin-left: 20px;
    height: 20px;
    width: 100%;
    bottom: 80px;
    margin-right: 300px;
    background-color: rgba(0, 0, 0, 0);
}


#text1{
    margin-top:7px ;
    color: white;
    /* background-color: bisque; */
    font-size: 25px;
    height: 20px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
}


.date{
    color: white;
    height: 10px;
    width: 100%;
    font-size: 10px;    
}


.T1{
    
    color: rgb(238, 119, 45);
    background-color: rgba(216, 76, 11, 0.486);
    height:30px;
    width: 50px;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
}


#img2{
    height: 60%;
    width: 100%;
    background-image:url(./chair.png);
    background-size:  cover;
    background-repeat: no-repeat;
    border-radius: 25px;
}


.content2{
    margin-left: 20px;
    height: 20px;
    width: 100%;
    bottom: 80px;
    margin-right: 300px;
    background-color: rgba(0, 0, 0, 0);
}


#text2{
    margin-top:7px ;
    color: white;
    
    font-size: 25px;
    height: 20px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
}


.date{
    color: white;
    height: 10px;
    width: 100%;
    font-size: 10px;
    
}


.T2{
    
    color: rgb(238, 119, 45);
    background-color: rgba(216, 76, 11, 0.486);
    height:30px;
    width: 50px;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
}


#img3{
    height: 60%;
    width: 100%;
    background-image:url(./cat.png);
    background-size:  cover;
    background-repeat: no-repeat;
    background-position-x: -5px;
    border-radius: 25px;
}

.content3{
    margin-left: 20px;
    height: 20px;
    width: 100%;
    bottom: 80px;
    margin-right: 300px;
    background-color: rgba(0, 0, 0, 0);

}
#text3{
    margin-top:7px ;
    color: white;
    /* background-color: bisque; */
    font-size: 25px;
    height: 20px;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;

}
.date{
    color: white;
    height: 10px;
    width: 100%;
    font-size: 10px;
    
}
.T3{
    
    color: rgb(238, 119, 45);
    background-color: rgba(216, 76, 11, 0.486);
    height:30px;
    width: 80px;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
} 